---
interface Props {
  type: 'text' | 'checkbox'
  id: string
  placeholder?: string
  value?: string
  className?: string
}

const { className, type, id, placeholder, value } = Astro.props
---

<label>
  <input
    type={type}
    id={id}
    placeholder={placeholder}
    value={value}
    class=`border-b border-black px-2 py-1 outline-none focus:border-purple-600 ${className}`
  />
</label>
